@{
    ViewBag.Title = "Index";
}
<h2>
    Index</h2>
    <p>This is a simple example site for AutoMapper, demonstrating how you can use it in various scenarios.</p>
    <p>Check out the global.asax for how the maps are created, and look in the HomeController for how the maps are used.</p>
    