@{
    ViewBag.Title = "Index";
}
<h2>
    Index</h2>
<ul>
    <li>@Html.ActionLink("Welcome page", "Welcome")</li>
    <li>@Html.ActionLink("Profile page", "Profile", new { id = 2 })</li>
    <li>@Html.ActionLink("Member list page", "Members")</li>
</ul>
